.hotelcontainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.hotelWrappeer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.booknow {
  position: absolute;
  right: 0;
  top: 1rem;
  background-color: #0071c2;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.hoteltitle {
  font-size: large;
  font-weight: 600;
}

.hoteladdress {
  font-size: small;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hoteldistance {
  color: #0071c2;
  font-weight: 400;
}

.hotelpricehighlight {
  font-weight: 400;
  color: #008009;
}

.hotelimages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hotelimages > img {
  width: 100%;
  object-fit: cover;
}

.hoteldetails {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}
.hoteldetailstext {
  flex: 3;
}

.hoteltitle {
  font-size: medium;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hoteldesc {
  font-size: small;
  font-weight: 400;
}

.hoteldetailsprice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.hoteldetailsprice > h1,
h2 {
  font-size: medium;
  font-weight: 600;
}
.hoteldetailsprice > span {
  font-size: small;
  font-weight: 400;
}

.hoteldetailsprice > b {
  font-size: medium;
  font-weight: 600;
}

.hoteldetailsprice > button {
  background-color: #0071c2;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
