.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 400;
  z-index: 1;
  position: relative;
}

.featuredimg {
  width: 100%;
  object-fit: cover;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.featuredtitles {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

.featuredtitles h1 {
  font-weight: 400;
  font-size: large;
}
