.navbar {
  height: fit-content;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.navcontainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navbutton {
  background-color: #0071c2;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 20px;
}
